body
{
  
  
  font-family:"Times New Roman", Georgia, Serif;
	font-style: italic;
	font-weight: bold;
	width: 100%;
  
  
}
#question, .startbtn
{		
	color:blue;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	font-size: 38px;
   text-shadow: 1px 1px 4px white, 0 0 1px blue, 0 0 2px darkblue;	
}

.btn
{
	width: 60%;
	padding: 10px;
	font-size: 32px;
	height: 70px;
	margin-left: 40px;
	margin-top: 50px;

	
}
#option0,#option2{
	margin-left:   170px;
}
#header
{
	text-align: center;
}
img
{
	width: 500px;
	
}
.quiz
{
	background-color: #000;
 	border:8px solid purple;
 	color: #fff;
 	border-style: dashed;
	margin-left:0px;
	height: 420px;
	margin-top: 30px;

}
#play
{
	margin-top: 100px;
	margin-left: 100px;
}